[Desktop Entry]
Name=Solitaire Games
Comment=A collection of solitaire card games
Exec=qmlscene $@ /opt/click.ubuntu.com/be.samsegers.solitaire-games/current/solitaire-games.qml
Icon=qmlscene
Terminal=false
Type=Application
Categories=Qt;Game;CardGame;
X-Ubuntu-Touch=true
