[Desktop Entry]
Name=solitaire-games
Version=0.1
Comment=A collection of solitaire card games
Exec=qmlscene $@ solitaire-games.qml
Icon=qmlscene
Terminal=false
Type=Application
Categories=Qt;Game;CardGame;
X-Ubuntu-Touch=true
