[Desktop Entry]
Name=solitaire-games
Comment=A collection of solitaire card games
Exec=qmlscene $@ solitaire-games.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
