[Desktop Entry]
Version=1.0
Name=Solitaire Games
Comment=A collection of solitaire card games
Exec=qmlscene $@ /usr/share/solitaire-games/solitaire-games.qml
Icon=qmlscene
Terminal=false
Type=Application
Categories=Qt;Game;CardGame;
X-Ubuntu-Touch=true
